[Desktop Entry]
Encoding=UTF-8
Name=gemini
GenericName=Audio player with wallpaper changer
Comment=Compare music and wallpapers
Exec=gemini
Icon=gicon
Terminal=false
Type=Application
Categories=Audio;AudioVideo;Utility;
StartupNotify=false
